@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,100&display=swap');

*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: grid;
  grid-template-columns: 0.2fr 1fr 1fr  0.2fr;
  grid-template-rows: repeat(3,1fr);
  grid-template-areas: 

  "header  header  header  header"
  "main   main    main    main"
  "footer   footer    footer    footer"
  ;
  overflow-x: hidden;
  font-family: 'Roboto', sans-serif;
}

header{
  grid-area: header;
  background-color: rgb(253, 252, 252);
  display: flex;
  flex-direction: column;
  height: 25vh;
}

.header__logo__container{
  margin: auto;
  height: 10vh;
}

.header__logo{
  width: 250px;
  height: 250px;
}


.menu{
height: 15vh; 
}


.toggle-menu{
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    /* filter: invert(1); */
    z-index: 100;
}




.listado{
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
  transform: translateY(-223%);
}

.listado--show{
  transform: translateY(-10%);
}

.menu__item{ 
  padding: 1em;
  background-color: rgba(59, 133, 231, 0.897);
  width: 100%;
  border-bottom: rgba(218, 208, 208, 0.791) 2px solid;
  font-family:'Roboto', sans-serif;
  font-weight: 600;
  text-align: left; 

}

.menu__item:hover{
  background-color: rgba(9, 108, 236, 0.658);
  color: aliceblue;
}

li a, a:link, a:visited, a:active{
  text-decoration: none;
  color: rgb(252, 248, 247);
 }



main{
 
  grid-area: main;
  background-color: cornflowerblue;
  margin-top: -110px;
}

footer{
  grid-area: footer;
  background-color:darkmagenta;
}